    body { text-align: center; font-family: Arial; }
    #myGoButton { font-size: 4em; }
    #myLabel { font-size: 1.8em; padding-top: 0.8em; padding-bottom: 0.8em; }
    #mySet { font-size: 2em; padding: 0.8em; color:gray; }
    #Clock { font-size: 4.5em; padding: 0.0em; color:green; }
    .link { padding: 0.8em; }
    #fork { font-size: 0.8em; }